.container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;

    height: 100%;
}

.content {
    grid-row: 2/3;
}

.gradient {
    font-size: 48px;
    font-weight: 900;
}

@media(max-width:780px){
    .content{
        background-color: #0E1014;
        background-image: url("../../assets/backgroundSmall.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: b;
    }
}